<!--================Home Banner Area =================-->
<app-mainbanner></app-mainbanner>

<!-- Start feature Area -->
<app-offeredservices></app-offeredservices>

<!--================ Feature Product Area =================-->
<app-featuredproducts></app-featuredproducts>

<!--================ Offer Area =================-->
<app-productadvert></app-productadvert>

<!--================ New Product Area =================-->
<app-newproducts></app-newproducts>

<!--================ Inspired Product Area =================-->
<app-inspiredproduct></app-inspiredproduct>


<!--================ Blog Area =================-->
<app-latestblog></app-latestblog>
