<div class="col-lg-5 pr-0">
        <ul class="nav navbar-nav navbar-right right_nav pull-right">
          <li class="nav-item">
            <a href="#" class="icons">
              <i class="ti-search" aria-hidden="true"></i>
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="icons">
              <i class="ti-shopping-cart"></i>
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="icons">
              <i class="ti-user" aria-hidden="true"></i>
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="icons">
              <i class="ti-heart" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
</div>