<!--================Breadcrum =================-->
<app-breadcrum></app-breadcrum>
<!--================Blog Area =================-->
<section class="blog_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                          <div class="blog_item_img">
                            <img class="card-img rounded-0" src="assets/img/blog/main-blog/m-blog-1.jpg" alt="">
                            <a href="#" class="blog_item_date">
                              <h3>15</h3>
                              <p>Jan</p>
                            </a>
                          </div>
                          
                          <div class="blog_details">
                              <a class="d-inline-block" href="single-blog.html">
                                  <h2>Google inks pact for new 35-storey office</h2>
                              </a>
                              <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
                              <ul class="blog-info-link">
                                <li><a href="#"><i class="ti-user"></i> Travel, Lifestyle</a></li>
                                <li><a href="#"><i class="ti-comments"></i> 03 Comments</a></li>
                              </ul>
                          </div>
                        </article>
                        
                        <article class="blog_item">
                          <div class="blog_item_img">
                            <img class="card-img rounded-0" src="assets/img/blog/main-blog/m-blog-2.jpg" alt="">
                            <a href="#" class="blog_item_date">
                              <h3>15</h3>
                              <p>Jan</p>
                            </a>
                          </div>
                          
                          <div class="blog_details">
                              <a class="d-inline-block" href="single-blog.html">
                                  <h2>Google inks pact for new 35-storey office</h2>
                              </a>
                              <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
                              <ul class="blog-info-link">
                                <li><a href="#"><i class="ti-user"></i> Travel, Lifestyle</a></li>
                                <li><a href="#"><i class="ti-comments"></i> 03 Comments</a></li>
                              </ul>
                          </div>
                        </article>
  
                        <article class="blog_item">
                          <div class="blog_item_img">
                            <img class="card-img rounded-0" src="assets/img/blog/main-blog/m-blog-3.jpg" alt="">
                            <a href="#" class="blog_item_date">
                              <h3>15</h3>
                              <p>Jan</p>
                            </a>
                          </div>
                          
                          <div class="blog_details">
                              <a class="d-inline-block" href="single-blog.html">
                                  <h2>Google inks pact for new 35-storey office</h2>
                              </a>
                              <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
                              <ul class="blog-info-link">
                                <li><a href="#"><i class="ti-user"></i> Travel, Lifestyle</a></li>
                                <li><a href="#"><i class="ti-comments"></i> 03 Comments</a></li>
                              </ul>
                          </div>
                        </article>
  
                        <article class="blog_item">
                          <div class="blog_item_img">
                            <img class="card-img rounded-0" src="assets/img/blog/main-blog/m-blog-4.jpg" alt="">
                            <a href="#" class="blog_item_date">
                              <h3>15</h3>
                              <p>Jan</p>
                            </a>
                          </div>
                          
                          <div class="blog_details">
                              <a class="d-inline-block" href="single-blog.html">
                                  <h2>Google inks pact for new 35-storey office</h2>
                              </a>
                              <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
                              <ul class="blog-info-link">
                                <li><a href="#"><i class="ti-user"></i> Travel, Lifestyle</a></li>
                                <li><a href="#"><i class="ti-comments"></i> 03 Comments</a></li>
                              </ul>
                          </div>
                        </article>
  
                        <article class="blog_item">
                          <div class="blog_item_img">
                            <img class="card-img rounded-0" src="assets/img/blog/main-blog/m-blog-5.jpg" alt="">
                            <a href="#" class="blog_item_date">
                              <h3>15</h3>
                              <p>Jan</p>
                            </a>
                          </div>
                          
                          <div class="blog_details">
                              <a class="d-inline-block" href="single-blog.html">
                                  <h2>Google inks pact for new 35-storey office</h2>
                              </a>
                              <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
                              <ul class="blog-info-link">
                                <li><a href="#"><i class="ti-user"></i> Travel, Lifestyle</a></li>
                                <li><a href="#"><i class="ti-comments"></i> 03 Comments</a></li>
                              </ul>
                          </div>
                        </article>
                        
  
  
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="ti-arrow-left"></span>
                                        </span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="ti-arrow-right"></span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                

                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <app-searchblog></app-searchblog>
                        <app-category></app-category>
                        <app-recentpost></app-recentpost>
                        <app-tagclouds></app-tagclouds>
                        <app-instagramfeeds></app-instagramfeeds>
                        <app-newsletter></app-newsletter>
                    </div>
                </div>
               
                
                
                
            </div>
        </div>
    </section>