<ul class="nav navbar-nav center_nav pull-right">
        <li class="nav-item active">
          <a class="nav-link" routerLink="HomePage">Home</a>
        </li>
        <li class="nav-item submenu dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Shop</a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="nav-link" routerLink="ShopPage">Shop Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Productdetailpage">Product Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Checkoutpage">Product Checkout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Insertproduct">Insert Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Shopcartpage">Shopping Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="Favouritepage">Favourite Page</a>
              </li>
          </ul>
        </li>
        <li class="nav-item submenu dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Blog</a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="nav-link" routerLink="BlogPage">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Blogdetailspage">Blog Details</a>
            </li>
          </ul>
        </li>
        <li class="nav-item submenu dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Pages</a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="nav-link" routerLink="TrackingPage">Tracking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="elements.html">Elements</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ContactPage">Contact</a>
        </li>
</ul>